
<div id="login" class="container-fluid">
<div id="loginform">  
<h2 id="h2login">Login</h2>
<form  action="/login" method="POST">
   <label> <h5>Username</h5>
      <input type="text" name="username">
   </label>
   <label> <h5>Password</h5>
      <input type="password" name="password">
   </label>

   <button class="btn btn-primary" type="submit">Login</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>
<img class="img-fluid" id="background" src="images/background.jpg">

</div>