<h2>Scoreboard</h2>


<p>
   {{winner}} is the current leader!
</p>

<ol>
    {{#each sortedTeams}}
    <li>{{this.teamScore}}, {{this.username}}</li>
    {{/each}}
</ol>

<a href="../profile">Go back to profile</a>