<div id="signup" class="container-fluid">
<div id="signupform">  
<h2 id="h2signup">Sign Up</h2>

<form action="/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
    <label> Email Address
      <input type="email" name="email">
   </label>

   <button class="btn btn-primary" type="submit">Sign Up</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>
<img class="img-fluid" id="background" src="images/background.jpg">

</div> 