
<h2>Welcome, {{currentUser.username}}!</h2>

<a href="/getdrivers">Get your team</a>


 <div>Your Team:
    <p>{{currentUser.driver1Id}}</p>
    <p>{{currentUser.driver2Id}}</p>
    <p>{{currentUser.driver3Id}}</p>
</div>  



