
<h2>Welcome, {{user.username}}!</h2>

<a href="/getdrivers">Get your team</a>

-- <div>Your Team:
    <p>{{userTeam.driver1Id}}</p>
    <p>{{userTeam.driver2Id}}</p>
    <p>{{userTeam.driver3Id}}</p>
</div>  


