<h2>{{randomResult.Driver.givenName}} {{randomResult.Driver.familyName}} {{randomResult.points}}</h2>

<form method="post" action="/profile">
    <input hidden  name="pickdriver"/>
        <button type="submit">Pick</button>