
body {
padding-left: 10px;
padding-right: 10px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.drivers{
  display:flex;
  flex-direction: row;
}

#fantasy{
  width: 140px ;
  height: 77px;
}
/* .body-scoreboard{
  
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
} */

.body-scoreboard{
  margin-top: 0;
}
#background{
  opacity: 0.5;
  position: relative;
}

#navbar{
  padding-top: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-link{
  font-size: large;
  text-align: justify;
}
.h1index{
  font-size:10vw;
  position: absolute;
}
#indexpage{
  display:flex;
  align-items: center;
  justify-content: center;
}
#login{
  display:flex;
  justify-content: center;
}
#loginform{
  padding-top: 50px;
  position: absolute;
  z-index: 10;
}
#h2login{
  padding-bottom: 25px;
  text-align: center;
}
#signup{
  display:flex;
  justify-content: center;
}
#signupform{
  padding-top: 50px;
  position: absolute;
  z-index: 10;
}
#h2signup{
  padding-bottom: 25px;
  text-align: center;
}

#scoreboard-content{
  margin-right: 10px;
  margin-top: 25px;
  z-index: 10;
  position: absolute;
  
}

#getdriversform{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  position: absolute;
  z-index: 10;
  
}
.getdrivers{
  display: flex;
  justify-content: center;
  text-align: center;
}
.randomdriver{
  margin-bottom: 10px;
  text-align: center;
}
#profiledrivers{
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}
#profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}



