

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.drivers{
  display:flex;
  flex-direction: row;
}

#fantasy{
  width: 140px ;
  height: 77px;
}
.body-scoreboard{
  background-color: white;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
}
.getdrivers{
  margin-top: 5%;

}
.body-scoreboard{
  margin-top: 5%;
}
#background{
  opacity: 0.5;
}